.app-nav > div
	z-index 600

	> ul
		margin 85px 0 20px
		
		.nested
			padding-left 20px

			div span
				font-size font-size-x-medium

		.active
			svg, div span
				color color-orange-sand-100

		.nav-item > a
			display flex
			align-items center
