.message-bar
	&.success
		background-color #43a047
	&.warning
		background-color #ffa000
	&.info
		background-color #1976d2
	&.error
		background-color #d32f2f

	.content
		display flex
		align-items center
		
		> svg
			margin-right 8px